<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-uppercase">{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <app-tasks *ngIf="folder === 'tasks'"></app-tasks>
  <app-task-form *ngIf="folder === 'task-form'"></app-task-form>
  <app-goals *ngIf="folder === 'goals'"></app-goals>
  <app-achievements *ngIf="folder === 'achievements'"></app-achievements>
  <app-notes *ngIf="folder === 'notes'"></app-notes>
  
</ion-content>
